@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* use :root to make them available globally */
  :root {
    --color-text-base: #233142;
    --color-text-muted: some_other_color;
    --color-text-inverted: another_color;
    --color-fill: ;
    --color-button-accent: ;
    --color-button-accent-hover: ;
    --color-button-muted: ;
  }
}